#clockbase {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: black;
    justify-content: center;
}

div {
    height: 210px;
    width: 160px;
    background-color: rgb(95, 65, 67);
    border-radius: 25px;
    border: solid 3px rgb(173, 111, 115);

}

h1{
    font-size: 100px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0%;
    padding-top:35px ;
}
@media (max-width: 480px) {
    #clockbase {
        gap: 20px; /* smaller gap between divs */
    }

    div {
        height: 140px; /* smaller boxes */
        width: 110px;
        border-radius: 15px; /* slightly smaller rounding */
        border-width: 2px;
    }

    h1 {
        font-size: 60px; /* smaller font for mobile */
        padding-top: 20px;
    }
}